@font-face {
	font-family: Figtree;
	src: url('./assets/fonts/Figtree-VariableFont_wght.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Figtree;
	src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf');
	font-style: italic;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--yellow: hsl(47, 88%, 63%);
	--white: hsl(0, 0%, 100%);
	--grey: hsl(0, 0%, 50%);
	--black: hsl(0, 0%, 7%);
}

body {
	background-color: var(--yellow);
	font-size: 16px;
	font-family: 'Figtree', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

main {
	font-size: 1.2rem;
	background-color: var(--white);
	padding: 1rem;
	width: min(90vw, 400px);
	border-radius: 1rem;
	border: 1px solid var(--black);
	box-shadow: 0.5rem 0.5rem 0px var(--black);
}
header {
	& img {
		width: 100%;
		display: block;
		margin-bottom: 1rem;
		border-radius: 1rem;
	}
}

h1 {
	color: var(--black);
	background-color: var(--yellow);
	border-radius: 0.2rem;
	display: inline-block;
	padding: 0.25rem 1rem;
	font-size: 1rem;
	margin-bottom: 1rem;
}

time {
	display: inline-block;
	margin-bottom: 1rem;
	font-weight: bold;
}

h2 {
	font-weight: bolder;
	margin-bottom: 1rem;
}
p {
	color: var(--grey);
	margin-bottom: 3rem;
}

footer {
	margin-bottom: 1rem;
	& div {
		display: flex;
		align-items: center;
		position: relative;
		& img {
			top: 50%;
			position: absolute;
			width: 40px;
			transform: translateY(-50%);
		}
		& p {
			margin-left: 3rem;
			color: var(--black);
			font-weight: 700;
			align-items: center;
			margin-bottom: 0;
		}
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (max-width: 425px) {
	main {
		width: 375px;
		margin: 1rem;
		font-size: 0.8rem;
	}
}

@media (max-width: 900px){
    body{
        margin: 1rem;
        height:100%;
    }
}


